[Unit]
Description=Fix power usage readout in MangoHud

[Service]
ExecStart=chmod o+r /sys/class/powercap/intel-rapl:0/energy_uj

[Install]
WantedBy=multi-user.target
