[Desktop Entry]
Comment[en_US]=
Comment=
Exec=sudo /etc/holoinstall/post_install/gamescope_downgrader.sh
GenericName[en_US]=
GenericName=
Icon=run-install
MimeType=
Name[en_US]=Potential fix for black screen issue
Name=Potential fix for black screen issue
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
